<div class="container mt-4">
  <!-- Header -->
  <header>
    <h1>Vivero El Otoño</h1>
  </header>

  <hr />

  <!-- Hero Image -->
  <div class="w-100" style="height: 250px">
    <img
      src="/images/nursery.jpg"
      alt="Banner"
      class="w-100 h-100 border border-2 border-dark object-fit-cover"
    />
  </div>

  <hr />

  <!-- Main Content -->
  <main>
    <app-plant-list />
  </main>

  <footer class="mx-auto mt-5" style="width: fit-content">
    <ul class="d-flex gap-3 list-unstyled fw-bolder">
      <li>Contact us: +57 3102105253</li>
      <li>{{ "info@viveroelotonio.com" }}</li>
      <li>{{ "@viveroelotonio" }}</li>
    </ul>
  </footer>
</div>
